
  
  .overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 25px;

  top: 20px;
  right: 20px;   
}

.bm-burger-bars {
  background: #222E3C;
}

.bm-cross-button {
  height: 28px;
  width: 28px;
}

.bm-cross {
  background: #030303;
}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}






